DB_HOST=localhost
DB_USER=root
DB_PASSWORD=rootpassword
DB_NAME=your_anime_tierlist
JWT_SECRET=tu_secreto_super_seguro_cambialo_en_produccion
CLIENT_URL=http://localhost:5173
NODE_ENV=development
PORT=3003
